@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 43px;
}

section {
  padding: 4em 2em;
}

section p {
  text-align: center;
}

.nav-container {
  background: #f2f2f2;
  position: relative;
}

.nav-container a {
  color: #08183a;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 2em 2em 1em;
  background: white;
  margin-left: 1em;
}

header .logo {
  font-weight: 600;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  background: #f2f2f2;
  color: #08183a;
  display: -ms-grid;
  display: grid;
  text-align: left;
  padding: 0em 0em 20em 1em;
}

.hero .card-hero {
  background: white;
  padding: 1em 2em 2em 1em;
  border-radius: 0px 0px 0px 50px;
  -webkit-box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
          box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
  overflow: hidden;
}

.hero .card-hero .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero .card-hero .upper .content {
  z-index: 1;
}

.hero .card-hero .upper .content h1 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 77px;
}

.hero .card-hero .upper .content button {
  border: none;
  padding: 1em 2em;
  border-radius: 8px;
  background: #08183a;
  color: white;
  margin: 2em 0em;
}

.hero .card-hero .upper svg {
  width: 100%;
  position: absolute;
  z-index: 0;
  padding-left: 50%;
  height: 100%;
  -webkit-backdrop-filter: blur(70px);
          backdrop-filter: blur(70px);
}

.hero .card-hero .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em -2em 1em 0em;
}

.hero .card-hero .lower ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .card-hero .lower ul img {
  width: 24px;
  height: 24px;
}

.hero .card-hero .lower ul a {
  display: block;
  padding: 0 1em;
}

.hero .card-hero .lower .hero-line {
  width: 100%;
  height: 3;
}

.experience {
  margin-top: -10em;
  padding-top: 0;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
}

.experience svg {
  position: absolute;
  z-index: -1;
}

.experience .background-text {
  width: inherit;
  top: 2em;
}

.experience .vertical-sign {
  margin-top: 5em;
  right: 0;
}

.experience .experience-top {
  margin: 2em 1em;
}

.experience .experience-top ul li {
  background-color: white;
  padding: 2em 5em;
  border-radius: 25px;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 15px 50px 10px rgba(231, 231, 231, 0.25);
          box-shadow: 0px 15px 50px 10px rgba(231, 231, 231, 0.25);
}

.experience .experience-top ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.experience .experience-top ul li .icon-container img {
  width: 100%;
}

.experience .experience-top ul li .exp-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.experience .experience-top ul li .xp-detail {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.experience .experience-bottom {
  margin: 2em 1em;
}

.experience .experience-bottom img {
  width: 100%;
}

.experience .button-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project .exp-subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #fd5e53;
  text-align: left;
}

.project .exp-featured-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #08183a;
  text-align: left;
}

.project .exp-featured-detail {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #08183a;
  text-align: left;
}

.project .button-tech {
  margin: 2em 0;
}

.project .button-tech button {
  padding: 12px 24px;
  background: #ffffff;
  border: 1px solid #08183a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.button-main {
  padding: 12px 24px;
  color: #ffffff;
  background: #08183a;
  border: 1px solid #08183a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.about {
  position: relative;
  z-index: 1;
}

.about span {
  color: #fd5e53;
}

.about h1 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.01em;
  color: #08183a;
}

.about img {
  width: 70%;
  position: absolute;
  top: 40%;
  right: 0;
  z-index: -1;
}

.about svg {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 45%;
}

.about button {
  margin: 2em 0;
}

.about .box-container {
  display: none;
}

.contact {
  background: #f2f2f2;
  padding: 2em 0 0 0;
  margin: 5em 1em 0 0;
  border-radius: 0px 50px 0px 0px;
  position: relative;
}

.contact h2 {
  padding-left: 1em;
}

.contact .contact-detail {
  width: 100%;
  background: #08183a;
  border-radius: 50px 0px 0px 0px;
  margin: 1em 0 0 1em;
  display: -ms-grid;
  display: grid;
  color: white;
}

.contact .contact-detail .contact-header {
  margin: 1em 1em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-detail .contact-header h1 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.1em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.contact .contact-detail .contact-header span {
  color: #fd5e53;
}

.contact .contact-detail .contact-header img {
  margin-top: 1em;
  width: 35%;
}

.contact .contact-detail .contact-content {
  margin-right: 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-detail .contact-content p {
  margin: 1em 0;
}

.contact .contact-detail .contact-content hr {
  margin: 2em 0;
}

.contact .contact-detail .contact-content .separator {
  display: none;
}

.contact .contact-detail .contact-content .location,
.contact .contact-detail .contact-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-white {
  fill: white;
}
/*# sourceMappingURL=main.css.map */