@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  //   background-color: #b4b4b4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h2 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 43px;
}

section {
  padding: 4em 2em;
  p {
    text-align: center;
  }
}

.nav-container {
  background: #f2f2f2;
  position: relative;
  a {
    color: #08183a;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 2em 1em;
  background: white;
  margin-left: 1em;

  .logo {
    font-weight: 600;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}
.div-shadow {
  //   position: relative;
}
.hero {
  background: #f2f2f2;
  color: #08183a;
  display: grid;
  text-align: left;
  padding: 0em 0em 20em 1em;

  .card-hero {
    background: white;
    padding: 1em 2em 2em 1em;
    border-radius: 0px 0px 0px 50px;
    box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
    overflow: hidden;
    .upper {
      display: flex;
      position: relative;

      //   justify-content: flex-start;
      .content {
        z-index: 1;
        h1 {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: 77px;
        }

        button {
          border: none;
          padding: 1em 2em;
          border-radius: 8px;
          background: #08183a;
          color: white;
          margin: 2em 0em;
        }
      }
      svg {
        width: 100%;
        position: absolute;
        z-index: 0;
        padding-left: 50%;
        height: 100%;

        // background: rgba(255, 255, 255, 0.25);
        // mix-blend-mode: normal;
        // backdrop-filter: blur(70px);
      }
    }

    .lower {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1em -2em 1em 0em;

      ul {
        display: flex;
        img {
          width: 24px;
          height: 24px;
        }
        a {
          display: block;
          padding: 0 1em;
        }
      }

      .hero-line {
        width: 100%;
        height: 3;
      }
    }
  }
}

.experience {
  //   background-color: green;
  margin-top: -10em;
  padding-top: 0;
  position: relative;
  z-index: 1;
  display: grid;

  svg {
    position: absolute;
    z-index: -1;
  }
  .background-text {
    width: inherit;
    top: 2em;
  }
  .vertical-sign {
    margin-top: 5em;
    right: 0;
  }

  .experience-top {
    margin: 2em 1em;

    ul li {
      background-color: white;
      padding: 2em 5em;
      border-radius: 25px;
      margin-bottom: 1em;
      box-shadow: 0px 15px 50px 10px rgba(231, 231, 231, 0.25);

      .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        img {
          width: 100%;
        }
      }

      .exp-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
      }

      .exp-detail {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .experience-bottom {
    margin: 2em 1em;
    img {
      width: 100%;
    }
  }

  .button-main-container {
    display: flex;
    justify-content: center;
  }
}

.project {
  .exp-subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #fd5e53;
    text-align: left;
  }
  .exp-featured-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #08183a;
    text-align: left;
  }
  .exp-featured-detail {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #08183a;
    text-align: left;
  }
  .button-tech {
    margin: 2em 0;

    button {
      padding: 12px 24px;
      background: #ffffff;
      border: 1px solid #08183a;
      box-sizing: border-box;
      border-radius: 8px;
      margin: 0.25em;
    }
  }
}

.button-main {
  padding: 12px 24px;
  color: #ffffff;
  background: #08183a;
  border: 1px solid #08183a;
  box-sizing: border-box;
  border-radius: 8px;
}

.about {
  position: relative;
  z-index: 1;
  span {
    color: #fd5e53;
  }
  h1 {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.01em;
    color: #08183a;
  }

  img {
    width: 50%;
    position: absolute;
    top: 35%;
    right: 0;
    z-index: -1;
  }
  svg {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -3;
    top: 0;
    left: 45%;
  }

  button {
    margin: 2em 0;
  }

  .box-container {
    display: none;
    // position: absolute;
    // width: 95%;
    // height: 80%;
    // top: 10%;
    // left: 0;
    // z-index: -2;
    // background: #ffffff;
    // mix-blend-mode: screen;
    // box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
  }
}

.contact {
  background: #f2f2f2;
  padding: 2em 0 0 0;
  margin: 5em 1em 0 0;
  border-radius: 0px 50px 0px 0px;
  position: relative;

  h2 {
    padding-left: 1em;
  }
  .contact-detail {
    width: 100%;
    background: #08183a;
    border-radius: 50px 0px 0px 0px;
    margin: 1em 0 0 1em;
    display: grid;
    color: white;

    .contact-header {
      margin: 4em 1em 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.1em;
        width: min-content;
        height: min-content;
      }
      span {
        color: #fd5e53;
      }
      img {
        margin-top: 1em;
        width: 35%;
      }
    }

    .contact-content {
      margin-right: 1em;
      display: grid;
      justify-content: center;

      p {
        margin: 1em 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.1em;
      }
      hr {
        margin: 2em 0;
      }

      .contact-name {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;
        letter-spacing: 0.1em;
        text-align: left;
      }
      .separator {
        display: none;
        // display: grid;
        // justify-content: center;
        // svg {
        //   border: 1px solid #ffffff;
        //   height: 100px;
        // }
      }

      .location,
      ul li {
        display: flex;
        margin: 1em 1em 0 1em;

        svg {
          width: 24px;
          height: 24px;
          margin-right: 0.5em;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .last-footer {
    margin: 5em 1em 1.5em 0;
  }
}

.icon-white {
  fill: white;
}

@media only screen and (min-width: 800px) {
  section {
    padding: 4em 4em;
  }
  header {
    padding: 2em 4em 2em 2em;
    margin-left: 2em;
  }

  .hero {
    padding-left: 2em;

    .card-hero {
      padding: 1em 4em 2em 2em;

      .upper {
        margin: 3em 0;
        svg {
          padding-left: 25%;
        }
      }

      .lower {
        margin-right: -4em;
      }
    }
  }

  .experience {
    .vertical-sign {
      margin-top: 7em;
    }

    .experience-top {
      ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;

        li {
          padding: 3em 1em;

          .icon-container {
            display: flex;
            // justify-content: center;
            // width: min-content;
            img {
              width: 150px;
            }
          }
        }
      }
    }

    .experience-bottom .project {
      display: grid;
      grid-template-columns: 50% auto;
      grid-gap: 1em;
    }
  }
  .project {
    .exp-subtitle {
      margin: 0;
    }

    .exp-featured-title {
      margin: 0.25em 0;
    }

    .exp-featured-detail {
      margin: 0.25em 0;
    }

    .button-tech {
      margin: 1em 0;

      button {
        padding: 8px 16px;
      }
    }
  }

  .about {
    padding-top: 6em;
    padding-bottom: 6em;
    img {
      width: 50%;
      top: 20%;
      right: 0%;
    }
    svg {
      width: 45%;
      left: 35%;
    }
    .box-container {
      display: unset;
      position: absolute;
      width: 70%;
      height: 80%;
      top: 10%;
      left: 0;
      z-index: -2;
      background: #ffffff;
      // mix-blend-mode: screen;
      box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
    }
  }

  .contact {
    .contact-detail {
      .contact-header {
        // align-content: center;
      }
      .contact-content {
        // display: grid;
        // grid-template-columns: 45% 5% 40%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        hr {
          display: none;
        }
        .separator {
          display: inline;
        }

        .right,
        .left {
          height: min-content;
          padding-bottom: 2em;
        }
      }
    }
    .last-footer {
      margin: 7em 1em 1.5em 0;
    }
  }
}

@media only screen and (min-width: 1050px) {
  section {
    padding: 4em 8em;
  }
  header {
    padding-right: 8em;
    padding-left: 4em;
    margin-left: 4em;
  }

  .hero {
    padding-left: 4em;
    padding-bottom: 25em;

    .card-hero {
      padding: 2em 8em 4em 4em;

      .upper {
        margin: 6em 0;
        svg {
          padding-left: 35%;
        }
      }

      .lower {
        margin-right: -8em;
      }
    }
  }

  .experience {
    margin-top: -12em;
    .background-text {
      top: 3em;
    }
    .vertical-sign {
      margin-top: 9em;
    }
    .experience-top ul {
      grid-gap: 1.5em;
    }
    .experience-bottom {
      margin: 4em 1em;
      .project {
        grid-gap: 1.5em;
      }
    }
    .button-main-container {
      margin-bottom: 4em;
    }
  }

  .project {
    .exp-featured-title {
      margin: 0.5em 0;
    }

    .exp-featured-detail {
      margin: 0.5em 0;
    }

    .button-tech {
      margin: 2em 0;

      button {
        padding: 12px 24px;
      }
    }
  }

  .about {
    padding-top: 12em;
    padding-bottom: 12em;
    img {
      width: 60%;
      top: 10%;
      right: 0%;
    }
    svg {
      width: 35%;
      left: 35%;
    }

    .box-content {
      width: 60%;
    }
    .box-container {
      height: 50%;
      top: 25%;
      box-shadow: none;
    }
  }

  .contact {
    margin-top: 10em;
    margin-right: 8em;

    h2 {
      padding-left: 4.5em;
    }
    .contact-detail {
      margin-left: 8em;
      //   margin-right: 2em;

      .contact-header {
        margin-right: 8em;
        h1 {
          width: auto;
        }
        img {
          width: 30%;
        }
      }

      .contact-content {
        margin-right: 8em;
        padding: 0 2em;
      }
    }
    .last-footer {
      margin: 9em 8em 1.5em 0;
    }
  }
}
