@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  //   color: #08183a;
  color: rgba(8, 24, 58, 0.8);
}
h1 {
  color: #08183a;
}
span {
  color: #fd5e53;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #08183a;
}
h2 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 43px;
}

section {
  padding: 4em 2em;
  p {
    text-align: center;
  }
}

.secondary-color {
  color: rgba(255, 255, 255, 0.95);
}

.nav-container {
  background: #f2f2f2;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 2em 1em;
  background: white;
  margin-left: 1em;

  .logo {
    font-weight: 600;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

.hero {
  background: #f2f2f2;
  display: grid;
  text-align: left;
  padding: 0em 0em 20em 1em;

  .card-hero {
    background: white;
    padding: 1em 2em 2em 1em;
    border-radius: 0px 0px 0px 50px;
    box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
    overflow: hidden;
    .upper {
      display: flex;
      position: relative;

      //   justify-content: flex-start;
      .content {
        z-index: 1;
        h1 {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: 77px;
        }

        button {
          border: 1px solid #08183a;
          padding: 1em 2em;
          border-radius: 8px;
          background: #08183a;
          margin: 2em 0em;
        }
      }
      svg {
        width: 100%;
        position: absolute;
        z-index: 0;
        padding-left: 50%;
        height: 100%;

        // background: rgba(255, 255, 255, 0.25);
        // mix-blend-mode: normal;
        // backdrop-filter: blur(70px);
      }
    }

    .lower {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1em -2em 1em 0em;

      ul {
        display: flex;
        img {
          width: 24px;
          height: 24px;
        }
        a {
          display: block;
          padding: 0 1em;
        }
      }

      .hero-line {
        width: 100%;
        height: 3;
      }
    }
  }
}

.experience {
  margin-top: -10em;
  padding-top: 0;
  position: relative;
  z-index: 1;
  display: grid;

  svg {
    position: absolute;
    z-index: -1;
  }
  .background-text {
    width: inherit;
    top: 2em;
  }
  .vertical-sign {
    margin-top: 5em;
    right: 0;
  }

  .experience-top {
    margin: 2em 1em;

    ul li {
      background-color: white;
      padding: 2em 5em;
      border-radius: 25px;
      margin-bottom: 1em;
      box-shadow: 0px 15px 50px 10px rgba(231, 231, 231, 0.25);

      .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        img {
          width: 100%;
        }
      }

      .exp-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
      }

      .exp-detail {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .experience-bottom {
    margin: 2em 1em;
    img {
      width: 100%;
    }
  }

  .button-main-container {
    display: flex;
    justify-content: center;
  }
}

.project {
  .exp-subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #fd5e53;
    text-align: left;
  }
  .exp-featured-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }
  .exp-featured-detail {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
  .button-tech {
    margin: 2em 0;

    button {
      padding: 12px 24px;
      background: #ffffff;
      border: 1px solid #08183a;
      box-sizing: border-box;
      border-radius: 8px;
      margin: 0.25em;
      color: #08183a;
    }
  }
}

.button-main {
  padding: 12px 24px;
  background: #08183a;
  border: 1px solid #08183a;
  box-sizing: border-box;
  border-radius: 8px;
}

.about {
  position: relative;
  z-index: 1;
  span {
    color: #fd5e53;
  }
  h1 {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.01em;
    // color: #08183a;
  }

  img {
    width: 50%;
    position: absolute;
    top: 35%;
    right: 0;
    z-index: -1;
  }
  svg {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -3;
    top: 0;
    left: 45%;
  }

  button {
    margin: 2em 0;
  }

  .box-container {
    display: none;
    // position: absolute;
    // width: 95%;
    // height: 80%;
    // top: 10%;
    // left: 0;
    // z-index: -2;
    // background: #ffffff;
    // mix-blend-mode: screen;
    // box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
  }
}

.contact {
  background: #f2f2f2;
  padding: 2em 0 0 0;
  margin: 5em 1em 0 0;
  border-radius: 0px 50px 0px 0px;
  position: relative;

  h2 {
    padding-left: 1em;
  }
  .contact-detail {
    width: 100%;
    background: #08183a;
    border-radius: 50px 0px 0px 0px;
    margin: 0 0 0 1em;
    display: grid;

    .contact-header {
      margin: 1em 1em 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.1em;
        width: min-content;
        height: min-content;
      }

      img {
        margin-top: 1em;
        width: 35%;
      }
    }

    .contact-content {
      margin-right: 1em;
      display: grid;
      justify-content: center;

      p {
        margin: 1em 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.1em;
      }
      hr {
        margin: 2em 0;
      }

      .contact-name {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;
        letter-spacing: 0.1em;
        text-align: left;
      }
      .separator {
        display: none;
        // display: grid;
        // justify-content: center;
        // svg {
        //   border: 1px solid #ffffff;
        //   height: 100px;
        // }
      }

      .location,
      ul li {
        display: flex;
        margin: 1em 1em 0 1em;

        svg {
          width: 24px;
          height: 24px;
          margin-right: 0.5em;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .last-footer {
    margin: 5em 1em 1.5em 0;
  }
}

.icon-white {
  fill: white;
}

// ================ overlay item

.overlay-experience,
.overlay-about {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  padding: unset;
  background-color: rgb(255, 255, 255);
  //   background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: width 1s;
}

.ov-container {
  padding: 2em;
  display: grid;
  img {
    width: 100%;
  }

  .close-btn {
    position: fixed;
    z-index: 15;
    top: 15%;
    left: 100%;
    width: 0%;
    // transition: 1.5s;
  }

  .ov-background-text {
    position: absolute;
    left: 15%;
    top: 4em;
    z-index: 11;
  }

  .overlay-content {
    margin: 5em 1em 0em 1em;
    z-index: 12;
    opacity: 0;
    transition: 0.5s;
    .project {
      margin-bottom: 4em;
    }
  }
}

.overlay-about .overlay-content {
  h1 {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 77px;
    span {
      color: #fd5e53;
    }
  }
  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  }
  h4 {
    margin: 0.5em 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
  h5 {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fd5e53;
  }
  .part {
    margin: 4em 0;
    p {
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 200%;
    }
  }
  .edu {
    width: 100%;
    .container {
      background-color: #08183a;
      color: white;
      margin: 4em -3em 4em -1.5em;
      padding: 6em 3em 6em 1.5em;
      border-radius: 0px 0px 0px 50px;
    }
  }
  .organization {
    .content {
      background: #ffffff;
      box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
      border-radius: 25px;
      padding: 2em 2em;
      margin: 2em 0;
      display: grid;

      .detail {
        .point {
          background: #ffffff;
          box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
          border-radius: 25px;
          padding: 1em;
          margin-top: 2em;
        }
      }
    }
  }
  .committee {
    .content {
      background: #ffffff;
      box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
      border-radius: 25px;
      padding: 2em 2em;
      margin: 2em 0;
      display: grid;
      .event-row {
        padding: 1em;
        margin-top: 2em;
        ul {
          //   list-style-type: disc;
          li {
            margin: 0.5em 0;
          }
          li::before {
            color: #fd5e53;
            content: "\2022";
            font-weight: bold;
            display: inline-block;
            width: 1em;
          }
        }
      }
    }
  }
  .bullet-img {
    img {
      width: 10%;
    }
  }
  .passion {
    ul li {
      .icon-container {
        margin: 2em 0;
        display: grid;
        place-content: center;
      }
      h4 {
        text-align: center;
      }
    }
  }
  .skillset {
    .skill {
      display: grid;
      grid-template-columns: 20% 80%;
      justify-content: start;
      align-items: center;
      margin: 0.5em 0;
      .skill-icon {
      }
      .skill-detail {
        margin-left: 0.5em;
        p {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
        }

        .bar-container {
          width: 100%;
          height: 25px;
          background: rgba(253, 94, 83, 0.1);
          border-radius: 0px 50px 0px 0px;
          display: grid;
          align-items: end;
          margin-top: 0.5em;
          .bar-filler {
            background: linear-gradient(270deg, #fd5e53 34.37%, #08183a 100%);
            border-radius: 0px 50px 0px 0px;
            height: 18px;
            p {
              color: white;
              font-size: 14px;
              line-height: 18px;
              margin-left: 1em;
              display: none;
            }
          }
        }
      }
    }
  }
  .about-footer {
    .footer-img {
      background: linear-gradient(
          0deg,
          rgba(8, 24, 58, 0.5),
          rgba(8, 24, 58, 0.5)
        ),
        url("../images/about-footer.JPG");
      box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
      border-radius: 0px 25px 0px 0px;
      height: 210px;
      width: 100%;
      background-position: 0 75%;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: -3em;
      padding-right: 3em;
      margin-top: -250px;
      z-index: 14;
    }
    .footer-box {
      height: 210px;
      background: #08183a;
      border-radius: 0px 0px 0px 25px;
      margin-right: -3em;
      padding-left: 3em;
      margin-top: 150px;
      z-index: 13;
    }
  }
}

@media only screen and (min-width: 800px) {
  section {
    padding: 4em 4em;
  }
  header {
    padding: 2em 4em 2em 2em;
    margin-left: 2em;
  }

  .hero {
    padding-left: 2em;

    .card-hero {
      padding: 1em 4em 2em 2em;

      .upper {
        margin: 2em 0;
        svg {
          padding-left: 25%;
        }
      }

      .lower {
        margin-right: -4em;
      }
    }
  }

  .experience {
    .vertical-sign {
      margin-top: 7em;
    }

    .experience-top {
      ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1em;

        li {
          padding: 3em 1em;

          .icon-container {
            display: flex;
            // justify-content: center;
            // width: min-content;
            img {
              width: 150px;
            }
          }
        }
      }
    }

    .experience-bottom .project {
      display: grid;
      grid-template-columns: 50% auto;
      gap: 1em;
    }
  }
  .project {
    .exp-subtitle {
      margin: 0;
    }

    .exp-featured-title {
      margin: 0.25em 0;
    }

    .exp-featured-detail {
      margin: 0.25em 0;
    }

    .button-tech {
      margin: 1em 0;

      button {
        padding: 8px 16px;
      }
    }
  }

  .about {
    padding-top: 6em;
    padding-bottom: 6em;
    img {
      width: 50%;
      top: 20%;
      right: 0%;
    }
    svg {
      width: 45%;
      left: 35%;
    }
    .box-container {
      display: unset;
      position: absolute;
      width: 70%;
      height: 80%;
      top: 10%;
      left: 0;
      z-index: -2;
      background: #ffffff;
      // mix-blend-mode: screen;
      box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
    }
  }

  .contact {
    .contact-detail {
      margin: 1em 0 0 1em;

      .contact-content {
        // display: grid;
        // grid-template-columns: 45% 5% 40%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        hr {
          display: none;
        }
        .separator {
          display: inline;
        }

        .right,
        .left {
          height: min-content;
          padding-bottom: 2em;
        }
      }
    }
    .last-footer {
      margin: 3em 1em 1.5em 0;
    }
  }

  .ov-container {
    padding: 2em 4em;
    .ov-background-text {
      top: 4em;
    }
    .overlay-content {
      .project {
        display: grid;
        grid-template-columns: 50% auto;
        gap: 1em;
      }
    }
  }

  .overlay-about .overlay-content {
    .intro {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 0;
      margin-bottom: 2em;
      .intro-img {
        margin-bottom: -8em;
        margin-right: 1em;
        align-self: end;
      }
    }
    .edu {
      margin-top: 2em;
      .container {
        margin: 0em -5em 4em 4em;
        padding: 10em 11em 4em 2em;
        p {
          text-align: center;
        }
      }
    }
    .organization .content {
      display: grid;
      grid-template-columns: 10% 90%;
    }
    .committee .content .event-row {
      display: grid;
      grid-template-columns: 10% 90%;
      .detail {
        p {
          margin: 0;
        }
      }
    }
    .bullet-img {
      img {
        margin-top: 2em;
        width: 75%;
      }
    }
    .passion ul {
      display: grid;
      grid-template-columns: 50% 50%;
      li {
        padding: 0 1em;
        p {
          text-align: justify;
        }
      }
    }
    .skillset ul .skill {
      display: grid;
      grid-template-columns: 10% 60%;
      justify-content: center;
      gap: 2em;
    }
    .about-footer {
      .footer-img {
        margin-left: -5em;
        padding-right: 5em;
      }
      .footer-box {
        margin-right: -5em;
        padding-left: 5em;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  section {
    padding: 4em 8em;
  }
  header {
    padding-right: 8em;
    padding-left: 4em;
    margin-left: 4em;
  }

  .hero {
    padding-left: 4em;
    padding-bottom: 25em;

    .card-hero {
      padding: 1em 8em 4em 4em;

      .upper {
        margin: 2em 0;
        svg {
          padding-left: 35%;
        }
      }

      .lower {
        margin-right: -8em;
      }
    }
  }

  .experience {
    margin-top: -12em;
    .background-text {
      top: 3em;
    }
    .vertical-sign {
      margin-top: 9em;
    }
    .experience-top ul {
      gap: 1.5em;
    }
    .experience-bottom {
      margin: 4em 1em;
      .project {
        gap: 1.5em;
      }
    }
    .button-main-container {
      margin-bottom: 4em;
    }
  }

  .project {
    .exp-featured-title {
      margin: 0.5em 0;
    }

    .exp-featured-detail {
      margin: 0.5em 0;
    }

    .button-tech {
      margin: 2em 0;

      button {
        padding: 12px 24px;
      }
    }
  }

  .about {
    padding-top: 12em;
    padding-bottom: 12em;
    img {
      width: 60%;
      top: 10%;
      right: 0%;
    }
    svg {
      width: 35%;
      left: 35%;
    }

    .box-content {
      width: 60%;
    }
    .box-container {
      height: 50%;
      top: 25%;
      box-shadow: none;
    }
  }

  .contact {
    margin-top: 10em;
    margin-right: 8em;

    h2 {
      padding-left: 4.5em;
    }
    .contact-detail {
      margin-left: 8em;

      .contact-header {
        margin-right: 8em;
        h1 {
          width: auto;
        }
        img {
          width: 30%;
        }
      }

      .contact-content {
        margin-right: 8em;
        padding: 0 2em;
      }
    }
    .last-footer {
      margin: 5em 8em 1.5em 0;
    }
  }

  .ov-container {
    padding: 4em 8em;
    .ov-background-text {
      top: 6em;
    }
    .overlay-content {
      .project {
        gap: 1.5em;
      }
    }
  }

  .overlay-about .overlay-content {
    .intro .intro-img {
      margin-bottom: -10em;
      margin-right: 2em;
    }
    .edu .container {
      margin: 0em -9em 4em 4em;
      padding: 12em 17em 4em 4em;
    }
    .skillset ul {
      margin: 0 -2em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
      .skill {
        display: grid;
        grid-template-columns: 20% 80%;
        // justify-content: center;
        gap: 0;
        margin: 3em 0;
      }
    }
    .about-footer {
      .footer-img {
        margin-left: -9em;
        padding-right: 9em;
      }
      .footer-box {
        margin-right: -9em;
        padding-left: 9em;
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  section {
    padding: 4em 12em;
  }
  header {
    padding-right: 12em;
    padding-left: 6em;
    margin-left: 6em;
  }
  .hero {
    padding-left: 6em;

    .card-hero {
      padding: 1em 12em 4em 6em;

      .upper {
        margin: 2em 0;
        .content {
          margin: 0.5em 0;
          .meet {
            margin: 0.5em 0;
          }
        }
        svg {
          padding-left: 35%;
        }
      }

      .lower {
        margin-top: 0em;
        margin-right: -12em;
      }
    }
  }

  .experience {
    .experience-top ul {
      gap: 2em;
    }

    .experience-bottom .project {
      gap: 2em;
    }
    .button-main-container {
      margin-bottom: 6em;
    }
  }

  .project {
    .exp-featured-title {
      margin: 0.75em 0;
    }

    .exp-featured-detail {
      margin: 0.75em 0;
    }

    .button-tech {
      margin: 3em 0;
    }
  }

  .about {
    padding-top: 14em;
    padding-bottom: 14em;
    img {
      width: 60%;
      top: 5%;
      right: 0%;
    }
    svg {
      width: 30%;
    }
  }

  .contact {
    margin-right: 12em;

    h2 {
      padding-left: 6.75em;
    }
    .contact-detail {
      margin-left: 12em;

      .contact-header {
        margin-right: 12em;

        img {
          width: 30%;
        }
      }

      .contact-content {
        margin-right: 12em;
      }
    }
    .last-footer {
      margin: 5em 12em 1.5em 0;
    }
  }

  .ov-container {
    padding: 4em 12em;
    .ov-background-text {
      top: 6em;
    }
    .overlay-content {
      .project {
        gap: 2em;
      }
    }
  }

  .overlay-about .overlay-content {
    .intro {
      .intro-img {
        margin-bottom: -12em;
        margin-right: 4em;
      }
      .intro-desc p {
        margin: 2em 1em;
      }
    }
    .edu .container {
      margin: 0em -13em 4em 4em;
      padding: 14em 23em 4em 6em;
    }
    .passion ul {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 -6em;
    }
    .skillset ul {
      margin: 0 -6em;
    }
    .about-footer {
      .footer-img {
        margin-left: -13em;
        padding-right: 13em;
      }
      .footer-box {
        margin-right: -13em;
        padding-left: 13em;
      }
    }
  }
}

@media only screen and (min-width: 1550px) {
  section {
    padding: 10em 20em;
  }
  header {
    padding-right: 20em;
    padding-left: 10em;
    margin-left: 10em;
  }
  .hero {
    padding-left: 10em;

    .card-hero {
      padding: 4em 20em 6em 10em;

      .upper {
        .content {
          margin: 2em 0;
          .meet {
            margin: 1em 0;
          }
        }
        svg {
          padding-left: 30%;
        }
      }

      .lower {
        margin-right: -20em;
      }
    }
  }

  .experience {
    .experience-top ul {
      gap: 3em;
      li {
        padding: 3em 2em;
      }
    }

    .experience-bottom .project {
      gap: 3em;
    }
  }

  .about {
    padding-top: 16em;
    padding-bottom: 16em;
    img {
      width: 60%;
      top: 0%;
      right: 0%;
    }
    svg {
      width: 30%;
    }
  }

  .contact {
    margin-right: 20em;

    h2 {
      padding-left: 11.25em;
    }
    .contact-detail {
      margin-left: 20em;

      .contact-header {
        margin-right: 20em;

        img {
          width: 35%;
        }
      }

      .contact-content {
        margin-right: 20em;
      }
    }
    .last-footer {
      margin: 9em 20em 1.5em 0;
    }
  }

  .ov-container {
    padding: 6em 20em;
    .ov-background-text {
      top: 8em;
    }
    .overlay-content {
      .project {
        gap: 3em;
      }
    }
  }

  .overlay-about .overlay-content {
    .intro {
      .intro-img {
        margin-right: 6em;
      }
      .intro-desc p {
        margin: 2em 2em;
      }
    }
    .edu .container {
      margin: 0em -21em 4em 4em;
      padding: 14em 33em 4em 8em;
    }
    .passion ul,
    .skillset ul {
      margin: 0 -8em;
    }
    .about-footer {
      .footer-img {
        margin-left: -21em;
        padding-right: 21em;
      }
      .footer-box {
        margin-right: -21em;
        padding-left: 21em;
      }
    }
  }
}
