@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 43px;
}

section {
  padding: 4em 2em;
}

section p {
  text-align: center;
}

.nav-container {
  background: #f2f2f2;
  position: relative;
}

.nav-container a {
  color: #08183a;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 2em 2em 1em;
  background: white;
  margin-left: 1em;
}

header .logo {
  font-weight: 600;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  background: #f2f2f2;
  color: #08183a;
  display: -ms-grid;
  display: grid;
  text-align: left;
  padding: 0em 0em 20em 1em;
}

.hero .card-hero {
  background: white;
  padding: 1em 2em 2em 1em;
  border-radius: 0px 0px 0px 50px;
  -webkit-box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
          box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
  overflow: hidden;
}

.hero .card-hero .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero .card-hero .upper .content {
  z-index: 1;
}

.hero .card-hero .upper .content h1 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 77px;
}

.hero .card-hero .upper .content button {
  border: 1px solid #08183a;
  padding: 1em 2em;
  border-radius: 8px;
  background: #08183a;
  color: white;
  margin: 2em 0em;
}

.hero .card-hero .upper svg {
  width: 100%;
  position: absolute;
  z-index: 0;
  padding-left: 50%;
  height: 100%;
}

.hero .card-hero .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em -2em 1em 0em;
}

.hero .card-hero .lower ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .card-hero .lower ul img {
  width: 24px;
  height: 24px;
}

.hero .card-hero .lower ul a {
  display: block;
  padding: 0 1em;
}

.hero .card-hero .lower .hero-line {
  width: 100%;
  height: 3;
}

.experience {
  margin-top: -10em;
  padding-top: 0;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
}

.experience svg {
  position: absolute;
  z-index: -1;
}

.experience .background-text {
  width: inherit;
  top: 2em;
}

.experience .vertical-sign {
  margin-top: 5em;
  right: 0;
}

.experience .experience-top {
  margin: 2em 1em;
}

.experience .experience-top ul li {
  background-color: white;
  padding: 2em 5em;
  border-radius: 25px;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 15px 50px 10px rgba(231, 231, 231, 0.25);
          box-shadow: 0px 15px 50px 10px rgba(231, 231, 231, 0.25);
}

.experience .experience-top ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.experience .experience-top ul li .icon-container img {
  width: 100%;
}

.experience .experience-top ul li .exp-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.experience .experience-top ul li .exp-detail {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.experience .experience-bottom {
  margin: 2em 1em;
}

.experience .experience-bottom img {
  width: 100%;
}

.experience .button-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project .exp-subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #fd5e53;
  text-align: left;
}

.project .exp-featured-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #08183a;
  text-align: left;
}

.project .exp-featured-detail {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #08183a;
  text-align: left;
}

.project .button-tech {
  margin: 2em 0;
}

.project .button-tech button {
  padding: 12px 24px;
  background: #ffffff;
  border: 1px solid #08183a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin: 0.25em;
}

.button-main {
  padding: 12px 24px;
  color: #ffffff;
  background: #08183a;
  border: 1px solid #08183a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.about {
  position: relative;
  z-index: 1;
}

.about span {
  color: #fd5e53;
}

.about h1 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.01em;
  color: #08183a;
}

.about img {
  width: 50%;
  position: absolute;
  top: 35%;
  right: 0;
  z-index: -1;
}

.about svg {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 45%;
}

.about button {
  margin: 2em 0;
}

.about .box-container {
  display: none;
}

.contact {
  background: #f2f2f2;
  padding: 2em 0 0 0;
  margin: 5em 1em 0 0;
  border-radius: 0px 50px 0px 0px;
  position: relative;
}

.contact h2 {
  padding-left: 1em;
}

.contact .contact-detail {
  width: 100%;
  background: #08183a;
  border-radius: 50px 0px 0px 0px;
  margin: 0 0 0 1em;
  display: -ms-grid;
  display: grid;
  color: white;
}

.contact .contact-detail .contact-header {
  margin: 1em 1em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-detail .contact-header h1 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.1em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.contact .contact-detail .contact-header span {
  color: #fd5e53;
}

.contact .contact-detail .contact-header img {
  margin-top: 1em;
  width: 35%;
}

.contact .contact-detail .contact-content {
  margin-right: 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-detail .contact-content p {
  margin: 1em 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.contact .contact-detail .contact-content hr {
  margin: 2em 0;
}

.contact .contact-detail .contact-content .contact-name {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-align: left;
}

.contact .contact-detail .contact-content .separator {
  display: none;
}

.contact .contact-detail .contact-content .location,
.contact .contact-detail .contact-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 1em 0 1em;
}

.contact .contact-detail .contact-content .location svg,
.contact .contact-detail .contact-content ul li svg {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
}

.contact .contact-detail .contact-content .location p,
.contact .contact-detail .contact-content ul li p {
  margin: 0;
}

.contact .last-footer {
  margin: 5em 1em 1.5em 0;
}

.icon-white {
  fill: white;
}

.overlay-experience,
.overlay-about {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  padding: unset;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.ov-container {
  padding: 2em;
  display: -ms-grid;
  display: grid;
}

.ov-container img {
  width: 100%;
}

.ov-container .close-btn {
  position: fixed;
  z-index: 15;
  top: 15%;
  left: 100%;
  width: 0%;
  -webkit-transition: left 1.5s;
  transition: left 1.5s;
}

.ov-container .ov-background-text {
  position: absolute;
  left: 15%;
  top: 4em;
  z-index: 11;
}

.ov-container .overlay-content {
  margin: 5em 1em 2em 1em;
  z-index: 12;
}

.ov-container .overlay-content .project {
  margin-bottom: 4em;
}

.overlay-about .overlay-content h1 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 77px;
}

.overlay-about .overlay-content h1 span {
  color: #fd5e53;
}

.overlay-about .overlay-content h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.overlay-about .overlay-content h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.overlay-about .overlay-content h4 {
  margin: 0.5em 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.overlay-about .overlay-content h5 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fd5e53;
}

.overlay-about .overlay-content .part {
  margin: 4em 0;
}

.overlay-about .overlay-content .part p {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
}

.overlay-about .overlay-content .edu {
  width: 100%;
}

.overlay-about .overlay-content .edu .container {
  background-color: #08183a;
  color: white;
  margin: 4em -3em 4em -1.5em;
  padding: 6em 3em 6em 1.5em;
  border-radius: 0px 0px 0px 50px;
}

.overlay-about .overlay-content .organization .content {
  background: #ffffff;
  -webkit-box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
          box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
  border-radius: 25px;
  padding: 2em 2em;
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
}

.overlay-about .overlay-content .organization .content .detail .point {
  background: #ffffff;
  -webkit-box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
          box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
  border-radius: 25px;
  padding: 1em;
  margin-top: 2em;
}

.overlay-about .overlay-content .committee .content {
  background: #ffffff;
  -webkit-box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
          box-shadow: 40px 25px 50px 10px rgba(170, 170, 170, 0.2);
  border-radius: 25px;
  padding: 2em 2em;
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
}

.overlay-about .overlay-content .committee .content .event-row {
  padding: 1em;
  margin-top: 2em;
}

.overlay-about .overlay-content .committee .content .event-row ul li {
  margin: 0.5em 0;
}

.overlay-about .overlay-content .committee .content .event-row ul li::before {
  color: #fd5e53;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.overlay-about .overlay-content .bullet-img img {
  width: 10%;
}

@media only screen and (min-width: 800px) {
  section {
    padding: 4em 4em;
  }
  header {
    padding: 2em 4em 2em 2em;
    margin-left: 2em;
  }
  .hero {
    padding-left: 2em;
  }
  .hero .card-hero {
    padding: 1em 4em 2em 2em;
  }
  .hero .card-hero .upper {
    margin: 2em 0;
  }
  .hero .card-hero .upper svg {
    padding-left: 25%;
  }
  .hero .card-hero .lower {
    margin-right: -4em;
  }
  .experience .vertical-sign {
    margin-top: 7em;
  }
  .experience .experience-top ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .experience .experience-top ul li {
    padding: 3em 1em;
  }
  .experience .experience-top ul li .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .experience .experience-top ul li .icon-container img {
    width: 150px;
  }
  .experience .experience-bottom .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    grid-gap: 1em;
  }
  .project .exp-subtitle {
    margin: 0;
  }
  .project .exp-featured-title {
    margin: 0.25em 0;
  }
  .project .exp-featured-detail {
    margin: 0.25em 0;
  }
  .project .button-tech {
    margin: 1em 0;
  }
  .project .button-tech button {
    padding: 8px 16px;
  }
  .about {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .about img {
    width: 50%;
    top: 20%;
    right: 0%;
  }
  .about svg {
    width: 45%;
    left: 35%;
  }
  .about .box-container {
    display: unset;
    position: absolute;
    width: 70%;
    height: 80%;
    top: 10%;
    left: 0;
    z-index: -2;
    background: #ffffff;
    -webkit-box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
            box-shadow: 50px 25px 50px 20px rgba(170, 170, 170, 0.3);
  }
  .contact .contact-detail {
    margin: 1em 0 0 1em;
  }
  .contact .contact-detail .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .contact .contact-detail .contact-content hr {
    display: none;
  }
  .contact .contact-detail .contact-content .separator {
    display: inline;
  }
  .contact .contact-detail .contact-content .right,
  .contact .contact-detail .contact-content .left {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding-bottom: 2em;
  }
  .contact .last-footer {
    margin: 3em 1em 1.5em 0;
  }
  .ov-container {
    padding: 2em 4em;
  }
  .ov-container .ov-background-text {
    top: 4em;
  }
  .ov-container .overlay-content .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    grid-gap: 1em;
  }
}

@media only screen and (min-width: 1050px) {
  section {
    padding: 4em 8em;
  }
  header {
    padding-right: 8em;
    padding-left: 4em;
    margin-left: 4em;
  }
  .hero {
    padding-left: 4em;
    padding-bottom: 25em;
  }
  .hero .card-hero {
    padding: 1em 8em 4em 4em;
  }
  .hero .card-hero .upper {
    margin: 2em 0;
  }
  .hero .card-hero .upper svg {
    padding-left: 35%;
  }
  .hero .card-hero .lower {
    margin-right: -8em;
  }
  .experience {
    margin-top: -12em;
  }
  .experience .background-text {
    top: 3em;
  }
  .experience .vertical-sign {
    margin-top: 9em;
  }
  .experience .experience-top ul {
    grid-gap: 1.5em;
  }
  .experience .experience-bottom {
    margin: 4em 1em;
  }
  .experience .experience-bottom .project {
    grid-gap: 1.5em;
  }
  .experience .button-main-container {
    margin-bottom: 4em;
  }
  .project .exp-featured-title {
    margin: 0.5em 0;
  }
  .project .exp-featured-detail {
    margin: 0.5em 0;
  }
  .project .button-tech {
    margin: 2em 0;
  }
  .project .button-tech button {
    padding: 12px 24px;
  }
  .about {
    padding-top: 12em;
    padding-bottom: 12em;
  }
  .about img {
    width: 60%;
    top: 10%;
    right: 0%;
  }
  .about svg {
    width: 35%;
    left: 35%;
  }
  .about .box-content {
    width: 60%;
  }
  .about .box-container {
    height: 50%;
    top: 25%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contact {
    margin-top: 10em;
    margin-right: 8em;
  }
  .contact h2 {
    padding-left: 4.5em;
  }
  .contact .contact-detail {
    margin-left: 8em;
  }
  .contact .contact-detail .contact-header {
    margin-right: 8em;
  }
  .contact .contact-detail .contact-header h1 {
    width: auto;
  }
  .contact .contact-detail .contact-header img {
    width: 30%;
  }
  .contact .contact-detail .contact-content {
    margin-right: 8em;
    padding: 0 2em;
  }
  .contact .last-footer {
    margin: 5em 8em 1.5em 0;
  }
  .ov-container {
    padding: 4em 8em;
  }
  .ov-container .ov-background-text {
    top: 6em;
  }
  .ov-container .overlay-content .project {
    grid-gap: 1.5em;
  }
}

@media only screen and (min-width: 1250px) {
  section {
    padding: 4em 12em;
  }
  header {
    padding-right: 12em;
    padding-left: 6em;
    margin-left: 6em;
  }
  .hero {
    padding-left: 6em;
  }
  .hero .card-hero {
    padding: 1em 12em 4em 6em;
  }
  .hero .card-hero .upper {
    margin: 2em 0;
  }
  .hero .card-hero .upper .content {
    margin: 0.5em 0;
  }
  .hero .card-hero .upper .content .meet {
    margin: 0.5em 0;
  }
  .hero .card-hero .upper svg {
    padding-left: 35%;
  }
  .hero .card-hero .lower {
    margin-top: 0em;
    margin-right: -12em;
  }
  .experience .experience-top ul {
    grid-gap: 2em;
  }
  .experience .experience-bottom .project {
    grid-gap: 2em;
  }
  .experience .button-main-container {
    margin-bottom: 6em;
  }
  .project .exp-featured-title {
    margin: 0.75em 0;
  }
  .project .exp-featured-detail {
    margin: 0.75em 0;
  }
  .project .button-tech {
    margin: 3em 0;
  }
  .about {
    padding-top: 14em;
    padding-bottom: 14em;
  }
  .about img {
    width: 60%;
    top: 5%;
    right: 0%;
  }
  .about svg {
    width: 30%;
  }
  .contact {
    margin-right: 12em;
  }
  .contact h2 {
    padding-left: 6.75em;
  }
  .contact .contact-detail {
    margin-left: 12em;
  }
  .contact .contact-detail .contact-header {
    margin-right: 12em;
  }
  .contact .contact-detail .contact-header img {
    width: 30%;
  }
  .contact .contact-detail .contact-content {
    margin-right: 12em;
  }
  .contact .last-footer {
    margin: 5em 12em 1.5em 0;
  }
  .ov-container {
    padding: 4em 12em;
  }
  .ov-container .ov-background-text {
    top: 6em;
  }
  .ov-container .overlay-content .project {
    grid-gap: 2em;
  }
}

@media only screen and (min-width: 1550px) {
  section {
    padding: 10em 20em;
  }
  header {
    padding-right: 20em;
    padding-left: 10em;
    margin-left: 10em;
  }
  .hero {
    padding-left: 10em;
  }
  .hero .card-hero {
    padding: 4em 20em 6em 10em;
  }
  .hero .card-hero .upper .content {
    margin: 2em 0;
  }
  .hero .card-hero .upper .content .meet {
    margin: 1em 0;
  }
  .hero .card-hero .upper svg {
    padding-left: 30%;
  }
  .hero .card-hero .lower {
    margin-right: -20em;
  }
  .experience .experience-top ul {
    grid-gap: 3em;
  }
  .experience .experience-top ul li {
    padding: 3em 2em;
  }
  .experience .experience-bottom .project {
    grid-gap: 3em;
  }
  .about {
    padding-top: 16em;
    padding-bottom: 16em;
  }
  .about img {
    width: 60%;
    top: 0%;
    right: 0%;
  }
  .about svg {
    width: 30%;
  }
  .contact {
    margin-right: 20em;
  }
  .contact h2 {
    padding-left: 11.25em;
  }
  .contact .contact-detail {
    margin-left: 20em;
  }
  .contact .contact-detail .contact-header {
    margin-right: 20em;
  }
  .contact .contact-detail .contact-header img {
    width: 35%;
  }
  .contact .contact-detail .contact-content {
    margin-right: 20em;
  }
  .contact .last-footer {
    margin: 9em 20em 1.5em 0;
  }
  .ov-container {
    padding: 6em 20em;
  }
  .ov-container .ov-background-text {
    top: 8em;
  }
  .ov-container .overlay-content .project {
    grid-gap: 3em;
  }
}
/*# sourceMappingURL=main.css.map */